bin
obj
*.sln.DotSettings.user
.vs
vendor
csharpcore/.DS_Store
csharpcore/GildedRoseTest/coverage.json
csharpcore/GildedRose/.DS_Store
csharpcore/.sonarqube
csharpcore/GildedRoseTest/.DS_Store
csharpcore/GildedRoseTest/coverage.opencover.xml
